body{
	padding: 0;
	margin: 0;
	width: 100%;
	background-image: url(img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.navbar.navbar-expand-lg.navbar-dark{
	display: flex;
	justify-content: space-between;
	background-color: black;
	height: 80px;
	width: 100%;
	position: fixed;
	z-index: 1;

}
.navbar-nav{
	
	width: 100%;
}
a.nav-item.nav-link{
	width: 100%;
	

}

.navbar-nav:hover{
	color:  red;
}
/*---------------------------------LOGO----------------------------*/
#logo{
	display: flex;
	position: relative;
	left: -100px;
	
  
}
#partie1{
	
	font-family: 'Ultra', serif;
	font-size: 32px;
	padding-right: 2px;
	color:#f5ebe1;
	text-decoration: none;
	
  
}
#partie2{
	
	font-family: 'Raleway', sans-serif;
	font-size: 34px;
	padding-right: 2px;
	color: #f5ebe1;
	text-decoration: none;

}

#partie1::after {
	position: absolute;
	content: '';
	width: 1px;
	height: 30px;
	background-color: #F8B071;
	margin-left:3px;
	margin-top: 12px;


}

/*-------------------contenu de la page1----------------*/
#page1{
	min-height: 800px;
	min-width: 100%;
	/*width: 1000px;*/
	

}
.contenu{
	display: flex;
	padding-bottom:200px;
	justify-content: center;
	height: 100%;
	width: 100%;

}

.presentation{
	position: relative;
	top: 250px;
	left: -20px;
}
#img{
	position: relative;
	top: 270px;
	
}

.image1{
	border-radius: 30px;
	height:270px;
	width:300px;
}
p{
	max-width: 350px;
}

#me{
	font-size: 50px;
	position: relative;
	top: -30px;
	font-family: 'Saira Semi Condensed', sans-serif;
	color: #f5ebe1;
}
.specialite{
	font-size: 23px;
	position: relative;
	top: -40px;
	font-family: 'Forum', cursive;
	color:  #F8B071;
}
.firstP{
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	position: relative;
	top: -25px;
	color:#f5ebe1;
}
.sub-main{
	
	display: flex;
	justify-content: center;
	width: 80%;
	margin:22px;
	/*float: left;*/
	margin-top: 70px;
	margin-left: 80px;
	}

.button-two{

	  color: white;
	  font-size:25px;
	  font-family: 'Russo One', sans-serif;
	 /* margin-top: 50px;*/
	  
	  margin-left: -390px;

 
}
.button-two {
  color: white;
  border-radius: 12px;
  background-color:#30b353;
  border: none;
  height: 60px;
  width: 170px;
  transition: all 0.5s;
}


.button-two span {
	font-size: 27px;
	color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-family: 'Russo One', sans-serif;
}

.button-two span:after {
	font-family:FontAwesome;
  content:'\f019';
  
  opacity: 0;
  top: 0;
  right: -33px;
  transition: 0.5s;
}

.button-two:hover span {
  padding-right: 25px;
}

.button-two:hover span:after {
  opacity: 1;
  right: -10px;
}

/*---------------------------------LA PAGE 2----------------------------*/
#page2{
	min-height: 800px;
	min-width: 100%;
	margin-top: 100px;
	
}
/*------------le bar du chargement -----------*/
.bar {
    width: 17em;
    height: 1em;
    border-radius: 0.4em;
    position: relative;
    background: #f2f2f2;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
}
.bar .percentage {
    position: relative;
    background: #30b353;
    height: 1em;
    width: 1em;

    border-radius: 0.5em;
 }
 /*---------------le block parent competances------------*/
#block{
	display: flex;
	justify-content: center;
	position: relative;
	top: 150px;
	

	

}
.blockA{
	position: relative;
	right: 50px;
	
}
.blockB{
	position: relative;
	left: 50px;
	
}
/*--------------------------LES TITRES-----------------------*/
.titre{
	font-family: 'Quicksand', sans-serif;
	font-size: 46px;
	font-weight: 10px;
	color:#ccaa9f;
	
}

p{
	font-family: 'Forum', cursive;
	font-size: 18px;
	color:#f5ebe1;
}
/*---------------------------------LA PAGE EXPERIENCE----------------------------*/
#page3{
	min-height: 900px;
	min-width: 100%;
	
}
#block_experience{
	margin-top: 130px;
}
ul {
  list-style: none;
}
li{
	padding-top: 20px;
}

ul li:before {
  content: '✓';
}
.blockEXP1{
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}
.blockEXP2{
	display: flex;
	justify-content: center;
	margin-top: 100px;
	padding-bottom: 20px;

}
.text{
	max-width: 600px;
	font-family: 'Quicksand', sans-serif;
}
.ttr1{
	position: relative;
	font-size: 35px;
	left: -100px;
}
.ttr2{
	position: relative;
	top: 6px;
	color:#f5ebe1;
}
.date{
	color:#f5ebe1;
	position: relative;
	left: 65px;
	font-size: 16px;
}
.nomEXP{
	font-family: 'Forum', cursive;
	font-size: 24px;
	color:#f5ebe1;
}
span{
	color: #F8B071;
	font-size: 22px;
}
.respon{
	position: relative;
	top: 50px;
	padding-bottom: 50px;
}
/*---------------------------------LA PAGE PORTFOLIO----------------------------*/
#page4{
	min-height: 800px;
	width: 100%;
	margin-top: 200px;
	
}
/*img{
	height: 200px;
	width: 300px;
	padding: 16px;
	border-radius: 22px;

}*/
/*.block1{
	display: flex;
	justify-content: center;
	

	
}
.block2{
	display: flex;
	justify-content: center;
	

	
} 
.blockimg{
	display: block;
	position: relative;
	top: 100px;
}  */
/*.block1 div img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}   
.block1 div:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.2);
} 
.block2 div img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}   
.block2 div:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.2);
}*/
.container-gallery
{
 /* float: left; */
  width: 100%;
  height: 600px;
  position: relative; 
  margin: 50px 0px 0px 0px; 
  /*transform: translateX(-50%); */

}
.flip-card {

 /* float: left;*/
  background-color: transparent;
  width: 400px;
  height: 220px;
  /*border: 1px solid #f1f1f1;*/
  perspective: 1000px; 
  /*margin-right: 50px;*/
  margin-top: 20px;
 /* margin-left: 15%;*/
  /*padding: -20px;*/
 /* padding-right:50px;*/
 padding:0px 25px 0px 25px;

}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #404040;
  color: white;
  transform: rotateY(180deg);
} 
/*----------------BUTTON-----------------*/
.button112{
	display: flex;
	justify-content: space-around;
	margin-top: 80px;
	
}
a.button11{
	/*padding-left: 10px;*/
	padding-top: 12px;
	 border-radius: 12px;
  	background-color:#30b353;
  	border: none;
 	 height: 50px;
  	width: 80px;
  	 font-family: 'Russo One', sans-serif;
  	 color: white;
  	text-decoration: none;
}
a.button12{
	padding-top: 12px;
	 border-radius: 12px;
  	background-color:#30b353;
  	border: none;
 	 height: 50px;
  	width: 80px;
  	 font-family: 'Russo One', sans-serif;
  	 color: white;
  	 text-decoration: none;
	
}
/*---------------------------------LA PAGE FORMATION----------------------------*/
 #page5{
 	min-height: 900px;
 	width: 100%;
 	margin-top: 200px;
 	/*background-color: grey;*/
 }
.formation{
	display: flex;
	justify-content: space-around;
	height: 700px;
	margin-top: 140px;
}
.fr1{
	width: 100%;
	
	
}
.fr2{
	width: 100%;
	
}
.fr22{
	position: relative;
	top: 250px;
	
}
/*.fr2::before {
	position: absolute;
	content: '';
	width: 1px;
	height: 580px;
	background-color: #F8B071;
	left:-36px;
}*/

.date2{
	color:#F8B071;
	position: relative;
	/*left: 225px;*/
	top: -10px;
	font-size: 16px;
}
/*---------------------------------LA PAGE CONTACT----------------------------*/

#page6{
	min-height: 800px;
	width: 100%;
	margin-top: 200px;
	
}
.big{
	display: flex;
	justify-content: center;
	position: relative;
	top: 150px;
	width: 100%;
}
.contenair{
	position: relative;
	left: -120px;
	top: 30px;
}
.ordre{
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;

}
.reseau{
	font-family: 'Open Sans', sans-serif;
	color: #F8B071;
	font-size: 20px;
}
/*--les icones---*/
i {
	color: #f5ebe1;
	font-size: 50px;
	padding-left: 10px;
}
a i:hover{
	color:#30b353;
}
.blockf{
	display: flex;
}
.blockf input{
	height: 30px;
	width: 320px;
}
.allblock{
	position: relative;
	top: 50px;
	left: 140px;
}
input{
	border-radius: 5px;
	border-color: transparent;
}
.sujet{

	position: relative;
	top: 35px;

}
.sujet input{
	height: 30px;
	width: 660px;
}
.message{
	position: relative;
	top: 70px;

}
textarea{
	width: 660px;
	height: 90px;
	border-radius: 5px;
}
.btt{
	position: relative;
	top: 105px;

}
.env{
	height: 40px;
	width: 200px;
	border-radius: 10px;
	background-color: #b5b2aa;
	border-color:  #b5b2aa;
	color: #242120;
	font-family: 'Lilita One', cursive;
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 8px;
}


/*LES MEDIAS*/
@media screen and (max-width: 936px)
	{.sub-main{
	
	display: flex;
	justify-content: center;
	width: 80%;
	margin:22px;
	/*float: left;*/
	margin-top: 170px;
	margin-left: 80px;
	}
.button-two{

	  color: white;
	  font-size:17px;
	  font-family: 'Russo One', sans-serif;
	 /* margin-top: 50px;*/
	  
	  margin-left: -390px;

 
}
		#logo{
			/*margin-left: -450px;*/
		}
		.ttr1{
			position: relative;
			/*top: -28px;*/
			font-size: 35px;
			/*left: -100px;*/
					}
		.text{
			max-width: 300px;
			font-family: 'Quicksand', sans-serif;
		}
		.image1{
				border-radius: 30px;
				height:250px;
				width:250px;
				margin-top: 60px;
			}
		#img{
			
			position: relative;
			top: 517px;

		}
		.fr1{
			position: relative;
			/*left: 5px;*/
			top: 0px;
			
			width: 100%;
		}
		.fr2{
			position: relative;
			
			width: 100%;
		}
		.fr22{
			position: relative;
			top: 250px;
		}
		.blockf input{
			height: 30px;
			width: 150px;
		}
		.sujet input{
			height: 30px;
			width: 317px;
		}
		textarea{
			width: 317px;
			height: 90px;
			border-radius: 5px;
		}
		.env{
			height: 40px;
			width: 110px;
			border-radius: 10px;
			background-color: #b5b2aa;
			border-color:  #b5b2aa;
			color: #242120;
			font-family: 'Lilita One', cursive;
			font-size: 22px;
			font-weight: bold;
			padding-bottom: 8px;
		}
		.ordre{
			font-family: 'Open Sans', sans-serif;
			font-size: 27px;

		}
		.contenair{
			position: relative;
			left: 0px;
			top: 46px;
		}
		p.txxxt{
			font-size: 17px;
			max-width: 180px;
		}
		.reseau{
			display: none;
		}
		i{
			color: #f5ebe1;
			font-size: 36px;
			
			padding-left: 10px;
		}
		.allblock{
			position: relative;
			top: 50px;
			left: 40px;
		}
		.presentation{
			position: relative;
			top: 360px;
		}
		#img{
			position: relative;
			top: 317px;
		}
		#page1{
			
		}
		#page3{
			margin-top: -65px;
			/*margin-left: 30%;*/
		}
		
		#page5{
			margin-top: -65px;
			
			
		}
		#page6{
			/*margin-top: -65px;*/
			
		}
		nav{
			background-color: black;
			height: 80px;
			width: 100%;
			position: fixed;
			z-index: 1;

		}
		body{

		}
		
		

	}


@media screen and (max-width: 1450px){
	/*-------le logo--------*/
	#partie1{
	
	font-family: 'Ultra', serif;
	font-size: 32px;
	padding-right: 2px;
	color:#f5ebe1;
	text-decoration: none;
	
  
}
#partie2{
	
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	padding-right: 2px;
	color: #f5ebe1;
	text-decoration: none;

}
#logo{
	display: flex;
	
	
  
}
#partie1::after {
	content: none;


}
.allblock{
	position: relative;
	top: 50px;
	left: 100px;
}
.contenair{
	position: relative;
	left: -80px;
	top: 30px;
}
.ttr1{
		position: relative;
		font-size: 30px;
		left: -60px;
	}




}


@media screen and (max-width: 991px){
	/*------la page home------------*/
	
	/*------la page formation-------*/
	.ttr1{
		position: relative;
		font-size: 30px;
		left: -17px;
	}
	/*----la page contact-----*/
	.contenair{
		position: relative;
		left: 0px;
		top: 30px;
	}
	.blockf input{
		height: 30px;
		width: 200px;
	}
	.sujet input{
		height: 30px;
		width: 418px;
	}
	textarea{
		width: 418px;
		height: 90px;
		border-radius: 5px;
	}
	.env{
		height: 40px;
		width: 150px;
		border-radius: 10px;
		background-color: #b5b2aa;
		border-color:  #b5b2aa;
		color: #242120;
		font-family: 'Lilita One', cursive;
		font-size: 22px;
		font-weight: bold;
		padding-bottom: 8px;
	}
	.ordre{
		font-family: 'Open Sans', sans-serif;
		font-size: 30px;

	}
	p.txxxt{
		font-size: 15px;
	}
	p.reseau{
		font-size: 20px;
	}
	i{
		font-size: 35px;
	}
	.allblock{
			position: relative;
			top: 50px;
			left: 20px;
		}


}
@media screen and (max-width: 1230px){
	/*----la page contact-----*/
	.contenair{
		position: relative;
		left: -40px;
		top: 30px;
	}
	.blockf input{
		height: 30px;
		width: 200px;
	}
	.sujet input{
		height: 30px;
		width: 416px;
	}
	textarea{
		width: 416px;
		height: 90px;
		border-radius: 5px;
	}
	.env{
		height: 40px;
		width: 150px;
		border-radius: 10px;
		background-color: #b5b2aa;
		border-color:  #b5b2aa;
		color: #242120;
		font-family: 'Lilita One', cursive;
		font-size: 22px;
		font-weight: bold;
		padding-bottom: 8px;
	}
	.ordre{
		font-family: 'Open Sans', sans-serif;
		font-size: 30px;

	}
	p.txxxt{
		font-size: 15px;
	}
	p.reseau{
		font-size: 20px;
	}
	i{
		font-size: 35px;
	}
	.allblock{
			position: relative;
			top: 50px;
			left: 20px;
		}


}
@media screen and (max-width: 991px){
	.navbar.navbar-expand-lg.navbar-dark{
		background-color: black;
		height: 80px;
		width: 100%;
		position: fixed;
		z-index: 1;

	}

}
@media screen and (max-width: 810px){


	/*----la page contact-----*/
	.contenair{
		position: relative;
		left: -20px;
		top: 30px;
	}
	.blockf input{
		height: 30px;
		width: 200px;
	}
	.sujet input{
		height: 30px;
		width: 416px;
	}
	textarea{
		width: 416px;
		height: 90px;
		border-radius: 5px;
	}
	.env{
		height: 40px;
		width: 150px;
		border-radius: 10px;
		background-color: #b5b2aa;
		border-color:  #b5b2aa;
		color: #242120;
		font-family: 'Lilita One', cursive;
		font-size: 22px;
		font-weight: bold;
		padding-bottom: 8px;
	}
	.ordre{
		font-family: 'Open Sans', sans-serif;
		font-size: 30px;

	}
	p.txxxt{
		font-size: 15px;
	}
	p.reseau{
		font-size: 20px;
	}
	i{
		font-size: 35px;
	}
	.allblock{
			position: relative;
			top: 50px;
			left: 20px;
		}


}
@media screen and (max-width: 752px){

		/*----la page contact-----*/
	.contenair{
		position: relative;
		left: 0px;
		top: 30px;
	}
	.blockf input{
		height: 30px;
		width: 200px;
	}
	.sujet input{
		height: 30px;
		width: 416px;
	}
	textarea{
		width: 416px;
		height: 90px;
		border-radius: 5px;
	}
	.env{
		height: 40px;
		width: 150px;
		border-radius: 10px;
		background-color: #b5b2aa;
		border-color:  #b5b2aa;
		color: #242120;
		font-family: 'Lilita One', cursive;
		font-size: 22px;
		font-weight: bold;
		padding-bottom: 8px;
	}
	.ordre{
		font-family: 'Open Sans', sans-serif;
		font-size: 30px;

	}
	p.txxxt{
		font-size: 15px;
	}
	p.reseau{
		font-size: 20px;
	}
	i{
		font-size: 35px;
	}
	.allblock{
			position: relative;
			top: 50px;
			left: 20px;
		}


}




}






